:root {
  --primary-color: #007bff;
  --secondary-color: #28a745;
  --background-color: #f5f7fa;
  --card-bg-color: #ffffff;
  --text-color: #333333;
  --font-family: 'Roboto', sans-serif;
  --transition-duration: 0.4s;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

.orders-container {
  padding: 2rem;
  background: linear-gradient(135deg, #007bff 0%, #28a745 100%);
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.orders-list {
  list-style: none;
  padding: 0;
  width: 500px;
  margin: 0;
}

.order-item {
  background-color: var(--card-bg-color);
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: background-color var(--transition-duration), box-shadow var(--transition-duration);
  cursor: pointer;
  color: var(--text-color);
}

.order-item:hover {
  background-color: #faf7f7;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #e0e0e0;
  transition: background-color var(--transition-duration);
}

.order-header:hover {
  background-color: #e6f7ff;
}

.header-left, .header-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.product-id {
  color: var(--primary-color);
  font-weight: 500;
  transition: color var(--transition-duration);
}

.product-id:hover {
  color: red;
  text-decoration: underline;
}

.icon {
  color: var(--primary-color);
}

.order-details {
  max-height: 0;
   
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}

.order-item.expanded .order-details {
  max-height: 500px;
  opacity: 1;
}

.item-list {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.item-list-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #e0e0e0;
  gap: 1rem;
}

.item-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.item-details {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.item-details span {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.total {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 0.5rem;
  color: var(--secondary-color);
  margin-top: 1rem;
}
